/App
/Library
/obj
/UWP

/Temp

/ProjectSettings

/Assets/HoloToolkit
/Assets/HoloToolkit.meta

Assembly-CSharp.csproj
Assembly-CSharp-Editor.csproj
StudioMixAR.sln
StudioMixAR.userprefs

Audio/
Images/
MusicalInstrumentsPack/
PrimitivePlus/